body { font-family: Arial, Helvetica, sans-serif;}

table.even-odd {
    border-collapse: collapse;
    border: 2px solid;
}

table.tree { border-collapse: collapse; border-spacing: 0; }

table.even-odd tr:nth-child(even) {background: #EEE}
table.even-odd tr:nth-child(odd) {background: #DDD}

td, th {
    text-align: left;
    padding: 1mm;
    vertical-align: top; /* 'text-top' allows labels and inputs all align! :-) */
}

table.tree td { padding: 0; }

.header { font-size: small; }

.link { color: blue; text-decoration: underline; }

.center { text-align: center; }

.right { text-align: right; }

.middle { vertical-align: middle; }

.inline { display: inline; }

.inline-block { display: inline-block; }

.person-box { 
    font-size: smaller; 
    width: 250px;
    vertical-align: middle;
    border: solid 3px;
}

button.gen {
    margin: 1mm; position: relative; top: -1mm;
    font-size: large; font-weight: bold;
}