body { font-family: Arial, Helvetica, sans-serif;}

table.even-odd {
    border-collapse: collapse;
    border: 2px solid;
}

table.tree { border-collapse: collapse; border-spacing: 0; }

table.even-odd tr:nth-child(even) {background: #EEE}
table.even-odd tr:nth-child(odd) {background: #DDD}

td, th {
    text-align: left;
    padding: 1mm;
    vertical-align: top; /* 'text-top' allows labels and inputs all align! :-) */
}

table.tree td { padding: 0;}

.header { font-size: small; }

.link { color: blue; text-decoration: underline; }

.center { text-align: center; }